Section6-StepFunctions/image-processing-app/statemachine/state_machine.asl.json
{
    "Comment": "Image Processing State Machine",
    "StartAt": "GetFileType",
    "States": {
        "GetFileType": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${GetFileTypeFunctionArn}"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 6,
                    "BackoffRate": 2
                }
            ],
            "Next": "CheckFileType",
            "ResultPath": "$.results",
            "TimeoutSeconds": 3,
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "QuitMain"
                }
            ],
            "ResultSelector": {
                "fileType.$": "$.Payload"
            }
        },
        "CheckFileType": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.results.fileType",
                    "StringEquals": "png",
                    "Next": "ProcessFile"
                }
            ],
            "Default": "DeleteSourceFile"
        },
        "ProcessFile": {
            "Type": "Parallel",
            "Next": "WriteToDynamoDb",
            "ResultPath": "$.results.images",
            "Branches": [
                {
                    "StartAt": "CopyToDestination",
                    "States": {
                        "CopyToDestination": {
                            "Type": "Task",
                            "Resource": "${CopyFileFunctionArn}",
                            "TimeoutSeconds": 3,
                            "ResultSelector": {
                                "original.$": "$"
                            },
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.Timeout",
                                        "States.TaskFailed"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 2
                                },
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 1,
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "QuitCopy"
                                }
                            ]
                        },
                        "QuitCopy": {
                            "Type": "Fail",
                            "Cause": "An error occurred while executing the CopyToDestination task",
                            "Error": "CopyError"
                        }
                    }
                },
                {
                    "StartAt": "CreateCopyParameters",
                    "States": {
                        "CreateCopyParameters": {
                            "Type": "Task",
                            "Resource": "${CreateCopyParametersFunctionArn}",
                            "TimeoutSeconds": 3,
                            "Next": "CopyToDestinationS3"
                        },
                        "CopyToDestinationS3": {
                            "Type": "Task",
                            "Parameters": {
                                "Bucket.$": "$.copyParams.Bucket",
                                "CopySource.$": "$.copyParams.CopySource",
                                "Key.$": "$.copyParams.Key"
                            },
                            "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "QuitCopyS3"
                                }
                            ],
                            "End": true
                        },
                        "QuitCopyS3": {
                            "Type": "Fail",
                            "Cause": "An error occurred while executing the CopyToDestination task",
                            "Error": "CopyError"
                        }
                    }
                },

                {
                    "StartAt": "ResizeImage",
                    "States": {
                        "ResizeImage": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Parameters": {
                                "Payload.$": "$",
                                "FunctionName": "${ResizeImageFunctionArn}"
                            },
                            "TimeoutSeconds": 10,
                            "ResultSelector": {
                                "thumbnail.$": "$.Payload"
                            },
                            "End": true,
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.Timeout",
                                        "States.TaskFailed"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 5,
                                    "MaxAttempts": 2
                                },
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 1,
                                    "IntervalSeconds": 2,
                                    "MaxAttempts": 2
                                }
                            ],
                            "Catch": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "Next": "QuitResize"
                                }
                            ]
                        },
                        "QuitResize": {
                            "Type": "Fail",
                            "Cause": "An error occurred while executing the ResizeImage task",
                            "Error": "ResizeError"
                        }
                    }
                }
            ]
        },
        "WriteToDynamoDb": {
            "Type": "Task",
            "Resource": "${WriteToDynamoDbFunctionArn}",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.writeToDynamoDbStatus",
            "Next": "DeleteSourceFile",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "QuitMain"
                }
            ]
        },
        "DeleteSourceFile": {
            "Type": "Task",
            "Resource": "${DeleteFileFunctionArn}",
            "TimeoutSeconds": 3,
            "ResultPath": "$.results.deletionStatus",
            "OutputPath": "$.results",
            "End": true,
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "QuitMain"
                }
            ]
        },
        "QuitMain": {
            "Type": "Fail",
            "Error": "GenericError",
            "Cause": "An error occurred while executing the state machine"
        }
    }
}