Section6-StepFunctions/image-processing-app/statemachine/state_machine.asl.json
{
    "Comment": "Image Processing State Machine",
    "StartAt": "GetFileType",
    "States": {
        "GetFileType": {
            "Type": "Task",
            "Resource": "${GetFileTypeFunctionArn}",
            "TimeoutSeconds": 10,
            "ResultPath": "$.results.fileType",
            "Next": "CheckFileType"
        },
        "CheckFileType": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.results.fileType",
                    "StringEquals": "png",
                    "Next": "ProcessFile"
                }
            ],
            "Default": "DeleteSourceFile"
        },
        "ProcessFile": {
            "Type": "Parallel",
            "Next": "WriteToDynamoDb",
            "Branches": [
                {
                    "StartAt": "CopyToDestination",
                    "States": {
                        "CopyToDestination": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "ResizeImage",
                    "States": {
                        "ResizeImage": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                }
            ]
        },
        "WriteToDynamoDb": {
            "Type": "Pass",
            "Next": "DeleteSourceFile"
        },
        "DeleteSourceFile": {
            "Type": "Pass",
            "End": true
        }
    }
}